/* font word sans */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* universal section */
* {
  margin: 0;
  padding: 0;
}

.dark-1 {
  color: rgba(19, 19, 19, 1);
}

.dark-2 {
  color: rgba(66, 66, 66, 1);
}
.dark-3 {
  color: rgba(114, 114, 114, 1);
}

.section-title {
  font-size: 2.85rem;
  font-weight: bold;
}
.title-description {
  font-size: 0.8rem;
  font-weight: 400;
  margin: 20px 0;
}

.btn {
  background-color: #ff900e;
  color: #fff;
  padding: 20px 25px;
  border-radius: 8px;
  font-size: 1.25rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
.display-flex {
  display: flex;
}
/* experience title */
.item-title {
  font-size: 1.25rem;
  font-weight: 600;
  /* max-width: 210px; */
}

/* Header section */
header {
  background-color: rgba(255, 144, 14, 0.1);
  padding-top: 50px;
}
.navbar {
  justify-content: space-between;
  max-width: 1165px;
  margin: 0 auto;
}
.nav-items {
  align-items: center;
  gap: 30px;
  list-style: none;
}
.nav-items a {
  text-decoration: none;
  font-size: 1.1rem;
}

/* brand name section */
.brand-contain {
  max-width: 1165px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}
.brand-container {
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 700px;
  margin-bottom: 30px;
}
.brand-name-title {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 103px;
}
.brand-description {
  max-width: 600px;
  margin: 25px auto;
}

.brand-img {
  width: 100%;
  height: auto;
  max-width: 1165px;
  /* margin-bottom: 20px; */
}

/* features section */
.features {
  width: 1165px;
  margin: 0 auto;
  align-items: center;
  gap: 60px;
  margin-top: 70px;
  margin-bottom: 105px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.features-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.img-item {
  width: 100%;
  height: auto;
  max-width: 277px;
}
.features-contest {
  max-width: 400px;
  max-height: 245px;
  margin-top: 163px;
  margin-bottom: 163px;
  margin-right: 100px;
}
.quick-list {
  font-size: 2.76rem;
  font-weight: 500;
}
.of-our {
  font-size: 2.76rem;
  font-weight: bold;
}
.Features-end {
  color: #ff900e;
  font-size: 2.85rem;
  font-weight: bold;
}

/* experience section */
.experience-container {
  max-width: 1165px;
  margin: 50px auto;
  gap: 100px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.experience-context {
  margin-bottom: 10px;
  margin-top: 0px;
  /* height: auto; */
  margin-left: 20px;
}
.experience-title {
  /* width: 460px; */
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}

.experience-item {
  /* max-width: 500px; */
  margin: 0 auto;
  padding: 10px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
}
.experience-item:last-child {
  margin-bottom: 0;
}
.item-description {
  margin: 10px 0;
}
.img-container {
  position: relative;
  /* max-width: 795px; */
  margin-top: 0;
  margin-bottom: 50px;
}
.experience-img {
  width: 100%;
  /* margin-bottom: 50px; */
}
.experience-year {
  position: absolute;
  /* max-width: 277px; */
  background-color: #ff900e;
  /* max-height: 162px; */
  padding: 25px 30px;
  text-align: center;
  margin-top: -100px;
  margin-left: -74px;

  border-radius: 8px;
}
.experience-year h1 {
  font-weight: bold;
  font-size: 4rem;
  color: #fff;
}
.experience-year p {
  color: #fff;
}

/* some facts section */
.some-facts {
  max-width: 1165px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.facts-title {
  font-size: 2.85rem;
  font-weight: bold;
  text-align: center;
}
.some-facts-description {
  max-width: 600px;
  text-align: center;
  margin: 25px auto;
}

.facts-card-container {
  display: flex;
  gap: 100px;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 20px;
}
.facts-card {
  max-width: 196px;
  max-height: 196px;
  /* background-color: red; */
  border: 1px solid #ff900e;
  border-radius: 8px;
}
.awards {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid rgba(0, 0, 0, 0.1); */
  margin-top: 29px;
  margin-bottom: 41px;
  margin-right: 25px;
  margin-left: 25px;
}
.facts-img {
  width: 36px;
  height: 36px;
  margin: 0 auto;
}
.facts-number {
  font-size: 2.2rem;
  font-weight: semibold;
}
.facts-description {
  font-size: 1rem;
  font-weight: semibold;
  text-align: center;
}

/* -------------------sponspors section----------------- */

.sponspors {
  max-width: 1165px;
  margin: 0 auto;
  /* margin-top: 50px;
  margin-bottom: 50px; */
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}
.sponspors-title {
  text-align: center;
}
.sponspors-description {
  text-align: center;
  max-width: 440px;
  margin: 35px auto;
}
.sponspors-container {
  display: flex;
  justify-content: space-around;
  /* gap: 125px; */
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.sponspors-img {
  max-width: 125px;
  margin: 0 auto;
  filter: grayscale(100%);
}

/* -----------footer section -------------- */
.footer {
  background-color: #fff4e7;
  max-width: 1165px;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.footer-description {
  /* margin: 35px auto; */
  text-align: center;
  padding: 25px;
  margin: 0px;
}

/* ----------------small device---------------------------  */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-items {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .brand-name-title {
    font-size: 2.2rem;
    margin-top: 40px;
  }
  .btn {
    padding: 20px 60px;
  }
  .features {
    width: 100%;
    margin: 20px auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
  }
  .features-img {
    grid-template-columns: 1fr;
  }
  .features-contest {
    text-align: center;
    margin: 0 auto;
  }
  .quick-list,
  .of-our,
  .Features-end {
    font-size: 1.8rem;
  }
  .title-description {
    font-size: 1rem;
    margin: 10px auto;
    max-width: 277px;
  }
  /* experience */
  .experience-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .experience-title {
    text-align: center;
    font-size: 2rem;
  }
  .experience-description {
    /* max-width: auto; */
    padding: 10px;
  }
  .item-description p {
    text-align: center;

    /* max-width: auto; */
  }
  .experience-context {
    text-align: center;
    margin: 0 30px;
  }
  .experience-item {
    margin: 0;
    text-align: left;
  }

  .experience-year {
    display: none;
  }
  .experience-year h1 {
    font-size: 2.5rem;
    padding: 0px 30px;
  }
  /* facts-card */

  .facts-card-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  /* ---------------sponsspor--------------- */
  .sponspors-img {
    margin: 15px;
  }
  .footer-description {
    padding: 0px;
  }
  .footer {
    margin-bottom: 15px;
  }
  .brand-description {
    max-width: 500px;
    margin: 25px auto;
  }
}

/* meduim device */
@media screen and (min-width: 576px) and (max-width: 990px) {
  .navbar,
  .nav-items {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .brand-name-title {
    font-size: 2.9rem;
    margin-top: 40px;
  }
  .btn {
    padding: 20px 60px;
  }
  .features {
    width: 100%;
    margin: 40px auto;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .features-contest {
    text-align: center;
    margin: 0 auto;
  }

  /* experience */
  .experience-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .experience-year {
    display: none;
  }
  .experience-title {
    text-align: center;
    font-size: 2rem;
  }
  .experience-context {
    margin: 20px;
  }
  .facts-card-container {
    flex-wrap: wrap;
  }
  .facts-card {
    flex: 1 1 calc(50% - 100px);
    box-sizing: border-box;
  }
  /* ---------------sponsspor--------------- */
  .sponspors-img {
    margin: 20px;
  }
}
